@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  height: 100vh;
}

/* Sidebar (left) */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 250px;
  color: #E8E8E8;
  background-color: #2C2C2C;
  backdrop-filter: blur(2px);

}

.sidebar h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #E8E8E8;
  cursor: pointer;
}

.sidebar h2 {
  margin: 20px 0 0 0;
  font-weight: 500;
  font-size: 18px;
  color: #E8E8E8;
  cursor: pointer;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  flex-grow: 1;
  background-color: #1E1E1E;

  scrollbar-width: thin;
  scrollbar-color: #3d3d3d #1E1E1E;
}

.chat-container {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #0f0f0f;
  backdrop-filter: blur(1px);
  border-radius: 32px 32px 0px 0px;
  color: white;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px 35px 15px 10px;
  font-size: 16px;
  background-color: #1E1E1E;
  color: white;
}

.input-container button {
  background: none;
  border: none;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  padding: 10px;
  color: #4e4e4e;
  transition: color 0.3s ease;
}

.input-container button:hover {
  color: #b0cfb1;
}

.input-container button:disabled {
  cursor: not-allowed;
  color: #ccc;
}

/* Right sidebar */
.right-sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 100vh;
  color: white;
  background-color: #2C2C2C;
  backdrop-filter: blur(2px);
}

.right-sidebar.resizable-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resizable-section {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.resizer {
  height: 5px;
  cursor: row-resize;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.resizer::before {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #2C2C2C;
}

.vertical-resizer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  cursor: col-resize;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: black;
}

.vertical-resizer::before {
  content: '';
  display: block;
  width: 4px;
  height: 40px;
  border-radius: 2px;
}

.content {
  padding: 20px;
  height: 100%;
  overflow: auto;
}

#translation-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.resources {
  text-align: center;
  margin-top: 20px;
}

.resources h2 {
  margin-bottom: 10px;
}

.resources h3 {
  margin-bottom: 15px;
}

.resources ul {
  list-style-type: none;
  padding: 0;
}

.resources ul li {
  margin-bottom: 10px;
}

.resources a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.resources a:hover {
  color: #0056b3;
  text-decoration: underline;
}



/* chat messages */
.chat-message {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  max-width: 70%;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.chat-message.user {
  align-self: flex-end;
  text-align: left;
  color: white;
  background-color: #000000;

}

.chat-message.user:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.00);
}

.chat-message.bot {
  background-color: #007bff;
  color: #ffffff;
  align-self: flex-start;
  text-align: left;
  background: #007bff;
  backdrop-filter: blur(1px);
}

.chat-message:hover {
  background-color: #0056b3;
  color: #ffffff;
  transform: scale(1.02);
}


.keyword.grammar {
  text-decoration-color: #000000;
}

.keyword.vocabulary {
  text-decoration: underline;
  text-decoration-color: green;
}

.keyword {
  text-decoration: underline;
  cursor: pointer;
}

.tooltip-content {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

